<!-- <app-dashboard #dashboardC></app-dashboard>

<app-tabela-clientes [clientes]="dashboardC.clientesLista"></app-tabela-clientes> -->
<!-- <app-tabela-clientes [clientes]="listaClientes"></app-tabela-clientes> -->

<!-- <app-irmao [clientes]="dashboardC.clientesLista"></app-irmao> -->

<!-- <p><button mat-raised-button color="accent" (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
<!-- <mat-sidenav-container class="map-bar-container">
    <mat-sidenav #sidenav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-map></app-map>
    </mat-sidenav-content>

</mat-sidenav-container> -->

<app-input [imgts]="'https://f.i.uol.com.br/fotografia/2019/07/04/15622791135d1e7cc9af1ae_1562279113_3x2_md.jpg'" (clickts)='alert2()'></app-input>
<app-input [imgts]="'https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png'" (clickts)='alert1()' ></app-input>
<app-input [imgts]="''" alternativo="Teste" ></app-input>
<app-input [imgts]="''" alternativo="Tete" ></app-input>
<p>teste</p>
<router-outlet>  </router-outlet>


